@import url("../fonts/fonts.css");

body {
  color: black;
  font-family: "Times New Roman Cyr";
  background-color: rgb(238, 238, 238);
}

h1 {
  font-family: Impact;
  font-weight: 900;
}
.new-btn {
  margin-block: 2.3rem;
  padding: 1.5rem 5.5rem;
  background-color: blue;
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.new-btn:hover {
  background-color: green;
}
#quote-wrapper {
  position: relative;
  background-color: white; /* Orange background for the bubble */
  padding: 20px 30px;
  border-radius: 5px;
  width: 1100px;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2);
  margin: 4rem auto;
}

#quote-wrapper::after {
  content: "";
  position: absolute;
  bottom: -29px;
  left: 20px;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-left: 26px solid transparent;
  border-right: 0px solid transparent;
  border-top: 20px solid white; /* Matches the background color */
  border-color: white transparent transparent transparent; /* Tail for the bubble */
}
